html {
  font-size: 14px; }

img {
  max-width: 100%; }

.header {
  min-height: 100vh;
  background-image: url(../img/bcg-header.jpg);
  background-size: cover; }

.header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; }

.top-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 15px 10px; }

.logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 7px 0; }
  .logo__link {
    font-size: 30px;
    font-family: "Montserrat";
    color: white;
    font-weight: bold;
    line-height: 1.2rem;
    text-align: left;
    text-decoration: none; }

/* Navigation */
.navigation {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 5px 0; }

.main-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0; }
  .main-nav__list-item {
    list-style: none;
    padding: 0 1em; }
    .main-nav__list-item__link {
      font-size: 1rem;
      font-family: "Montserrat";
      color: white;
      text-transform: uppercase;
      line-height: 1.2rem;
      text-align: center;
      padding: 10px 0;
      text-decoration: none;
      border-bottom: 3px solid #fce38a; }

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header-content-wrap {
  margin: auto;
  max-width: 600px; }

.header-content__title {
  margin: 0 auto;
  font-size: 3rem;
  font-family: "Lobster";
  color: white;
  line-height: 1em;
  text-align: center;
  z-index: 15; }

.header-content__description {
  margin: auto;
  font-size: 4rem;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 4rem;
  text-align: center; }

.header-content__footer {
  text-align: center;
  margin-top: 30px;
  padding: 15px 0 5px 0; }

.header-content__link {
  font-size: 1rem;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2rem;
  text-decoration: none;
  border: 3px solid #ffffff;
  padding: 1em 2em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .header-content__link:hover {
    color: #fce38a;
    background: #ffffff; }

.bottom-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

section {
  padding: 50px 5px; }

p {
  font-size: 1rem;
  font-family: "Open Sans";
  color: #999999;
  line-height: 1.6rem;
  text-align: center;
  margin: 10px 15px; }

.about-us {
  background-color: #ffffff; }

.title-h1 {
  font-size: 1.8rem;
  font-family: "Lobster";
  color: #333333;
  line-height: 2rem;
  text-align: center; }

.title-h2 {
  font-size: 2.2rem;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2rem;
  text-align: center; }

.content {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 25px 0; }

.gallery-section {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .gallery-section .gallery-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 33%;
        -ms-flex: 1 1 33%;
            flex: 1 1 33%;
    margin: 0 5px; }
    .gallery-section .gallery-item__link {
      display: block; }
    .gallery-section .gallery-item__img {
      max-width: 100%;
      width: 100%; }

.facts {
  background-color: #95e1d3;
  color: #ffffff;
  padding: 45px 0; }

.columns-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .columns-block-item {
    max-width: 230px;
    margin: 0 30px; }
    .columns-block-item__number {
      font-size: 5rem;
      font-family: "Montserrat";
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 4rem;
      text-align: center; }
    .columns-block-item__description {
      margin-top: 20px;
      font-size: 1rem;
      font-family: "Montserrat";
      color: white;
      text-transform: uppercase;
      line-height: 1.2rem;
      text-align: center; }

.block-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0; }
  .block-icons__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 30%;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 15px 40px 0; }
    .block-icons__item__icon-wrap {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 25%;
          -ms-flex: 1 1 25%;
              flex: 1 1 25%;
      color: #95e1d3;
      font-size: 3rem;
      text-align: center; }
    .block-icons__item__description {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 75%;
          -ms-flex: 1 1 75%;
              flex: 1 1 75%; }
      .block-icons__item__description p {
        margin: 0 0 10px 0; }

.title-block {
  font-size: 1rem;
  font-family: "Montserrat";
  color: #333333;
  text-transform: uppercase;
  line-height: 1.1rem;
  text-align: left;
  margin: 5px 0; }

.gray-line {
  height: 1px;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background: #e5e5e5; }

.wrap-section {
  max-width: 960px;
  margin: 0 auto; }

.columns-block__service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.column-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%; }

.column-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%; }

.column-container {
  padding: 0 5px; }

.accordeon {
  width: 440px;
  height: 1px; }
  .accordeon-list {
    border-bottom: 1px solid #95e1d3; }
  .accordeon__inner {
    padding: 15px 20px;
    margin: 0;
    border-left: 1px solid #95e1d3;
    border-right: 1px solid #95e1d3; }
  .accordeon-trigger {
    display: block;
    padding: 10px 15px;
    border: 1px solid #95e1d3;
    font-size: 1rem;
    color: #333333;
    text-transform: uppercase;
    line-height: 1.5rem;
    text-decoration: none;
    font-weight: bold; }
    .accordeon-trigger i {
      color: #95e1d3;
      font-size: 2rem;
      line-height: 2rem;
      margin-right: 10px; }

.quote {
  background-color: #f8f8f8; }

.slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
  .slide-image {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 20%;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%; }
    .slide-image__icon-block {
      border: 3px solid #95e1d3;
      height: 110px;
      width: 110px;
      font-size: 4.5rem;
      text-align: center;
      line-height: 110px;
      color: #95e1d3; }
  .slide-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 80%;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%; }

.slide-content__text-quote {
  font-size: 1.5rem;
  font-family: "Open Sans";
  color: #999999;
  font-style: italic;
  line-height: 1.5rem;
  text-align: left; }
  .slide-content__text-quote blockquote {
    margin: 0.9em 0; }

.authot-quote-wrap {
  font-size: 1.3rem;
  font-family: "Lobster";
  color: #333333;
  line-height: 1.2;
  text-align: left; }
  .authot-quote-wrap:before {
    content: '';
    display: inline-block;
    width: 55px;
    height: 3px;
    margin-right: 10px;
    background-color: #f38181; }

.gallery-team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .gallery-team__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 30%;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    margin: 0 10px; }
    .gallery-team__item-description {
      text-align: center; }
      .gallery-team__item-description-title {
        font-size: 14px;
        font-family: "Montserrat";
        color: #333333;
        text-transform: uppercase;
        line-height: 1.2rem;
        margin-bottom: 5px; }

.image-container {
  position: relative; }

.image-container:hover .wrap-personal-social {
  opacity: 1; }

.wrap-personal-social {
  padding: 0;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fce38a), to(#f38181));
  background: -webkit-linear-gradient(top, #fce38a 0%, #f38181 100%);
  background: linear-gradient(180deg, #fce38a 0%, #f38181 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 50; }

.personal-social-list {
  padding: 0;
  text-align: center; }
  .personal-social-list__item {
    display: inline-block;
    height: 55px;
    width: 55px;
    list-style: none;
    line-height: 55px;
    text-align: center;
    background-color: #fce38a; }
    .personal-social-list__item:hover {
      background-color: #f38181; }
    .personal-social-list__item-link {
      display: block;
      font-size: 3rem;
      color: #f38181; }
      .personal-social-list__item-link:hover {
        color: #ffffff; }
