doctype html
html(lang="ru")
    head
        title Главная страница
        meta(charset='utf-8')
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        link(rel="stylesheet", href="css/libs.min.css")
        link(rel="stylesheet", href="css/main.css")
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Lobster|Open+Sans&subset=latin,cyrillic' rel='stylesheet')
    body
        .main-wrapper
            include _parts/banner
            include _parts/about_us
            include _parts/facts
            include _parts/service1
            include _parts/service2
            include _parts/quote
            include _parts/our_team

        script(src="https://code.jquery.com/jquery-2.2.4.min.js")
        script(src="js/main.js")