section.about-us
    .wrap-section
        .content
            .title-h1
                | What we do
            .title-h2.line-bottom
                | Story about us
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .gallery-section
            .gallery-item
                a(href="#").gallery-item__link
                    img(src="#", alt="Image1").gallery-item__img
            .gallery-item
                a(href="#").gallery-item__link
                    img(src="#", alt="Image2").gallery-item__img
            .gallery-item
                a(href="#").gallery-item__link
                    img(src="#", alt="Image3").gallery-item__img
