header.header
    .header-wrap
        .top-line
            .logo
                a.logo__link
            .navigation
                nav.main-nav
                    ul.main-nav__list
                        li.main-nav__list__item
                            a.main-nav__list__item__link About
                        li.main-nav__list__item
                            a.main-nav__list__item__link Service
                        li.main-nav__list__item
                            a.main-nav__list__item__link Work
                        li.main-nav__list__item
                            a.main-nav__list__item__link block
                        li.main-nav__list__item
                            a.main-nav__list__item__link Contact
                .tools-block
                    a.buy
                        i.icon.ion-search
                    a.search
        .header-content
            .header-content__title
                | Creative Template
            .header-content__description.line-bottom
                | Welcome to MoGo
            .header-content__footer
                a(href="#") Learn more
