header.header
    .header-wrap
        .top-header
            .logo
                a(href="#").logo__link MoGo
            .navigation
                nav.main-nav
                    ul.main-nav__list
                        li.main-nav__list-item
                            a(href="#").main-nav__list-item__link About
                        li.main-nav__list-item
                            a(href="#").main-nav__list-item__link Service
                        li.main-nav__list-item
                            a(href="#").main-nav__list-item__link Work
                        li.main-nav__list-item
                            a(href="#").main-nav__list-item__link block
                        li.main-nav__list-item
                            a(href="#").main-nav__list-item__link Contact
                .tools-block
        .header-content
            .header-content-wrap
                .header-content__title
                    | Creative Template
                .header-content__description.line-bottom
                    | Welcome <br> to MoGo

                .header-content__footer
                    a(href="#").header-content__link Learn more
        .bottom-header

