section.facts
    .wrap-section
        .columns-block
            .columns-block-item
                .columns-block-item__number
                    | 42
                .columns-block-item__description
                    | Web Design Projects
            .columns-block-item
                .columns-block-item__number
                    | 123
                .columns-block-item__description
                    | happy client
            .columns-block-item
                .columns-block-item__number
                    |15
                .columns-block-item__description
                    | award winner
            .columns-block-item
                .columns-block-item__number
                    | 99
                .columns-block-item__description
                    | cup of coffee
            .columns-block-item
                .columns-block-item__number
                    | 24
                .columns-block-item__description
                    | members