section.about-us
    .wrap-section
        .content
            .title-h1
                | Who we are
            .title-h2.line-bottom
                | Meet our team
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .gallery-team
            .gallery-team__item
                .gallery-team__item-image
                    .image-container
                        img(src="img/userfile/people-1.jpg" alt="People Team")
                        .wrap-personal-social
                            ul.personal-social-list
                                li.personal-social-list__item
                                    a(href="#", target='_blank').personal-social-list__item-link
                                        i.icon.ion-social-facebook
                                li.personal-social-list__item
                                    a(href="#", target='_blank').personal-social-list__item-link
                                        i.icon.ion-social-twitter
                                li.personal-social-list__item
                                    a(href="#", target='_blank').personal-social-list__item-link
                                        i.icon.ion-social-pinterest
                                li.personal-social-list__item
                                    a(href="#", target='_blank').personal-social-list__item-link
                                        i.icon.ion-social-instagram-outline
                .gallery-team__item-description
                    h4.gallery-team__item-description-title Jon Down
                    p eiusmod tempor incididunt

            .gallery-team__item
                .gallery-team__item-image
                    .image-container
                        img(src="img/userfile/people-2.jpg" alt="People Team")
                        .wrap-personal-social
                            ul.personal-social-list
                                li.personal-social-list__item
                                    a(href="#", target='_blank').personal-social-list__item-link
                                        i.icon.ion-social-facebook
                                li.personal-social-list__item
                                    a(href="#", target='_blank').personal-social-list__item-link
                                        i.icon.ion-social-twitter
                                li.personal-social-list__item
                                    a(href="#", target='_blank').personal-social-list__item-link
                                        i.icon.ion-social-pinterest
                                li.personal-social-list__item
                                    a(href="#", target='_blank').personal-social-list__item-link
                                        i.icon.ion-social-instagram-outline
                .gallery-team__item-description
                    h4.gallery-team__item-description-title Jon Down
                    p eiusmod tempor incididunt

            .gallery-team__item
                .gallery-team__item-image
                    .image-container
                        img(src="img/userfile/people-3.jpg" alt="People Team")
                        .wrap-personal-social
                            ul.personal-social-list
                                li.personal-social-list__item
                                    a(href="#", target='_blank').personal-social-list__item-link
                                        i.icon.ion-social-facebook
                                li.personal-social-list__item
                                    a(href="#", target='_blank').personal-social-list__item-link
                                        i.icon.ion-social-twitter
                                li.personal-social-list__item
                                    a(href="#", target='_blank').personal-social-list__item-link
                                        i.icon.ion-social-pinterest
                                li.personal-social-list__item
                                    a(href="#", target='_blank').personal-social-list__item-link
                                        i.icon.ion-social-instagram-outline
                .gallery-team__item-description
                    h4.gallery-team__item-description-title Jon Down
                    p eiusmod tempor incididunt

