section.quote
    .wrap-section
        ul.slider-quote
            .slide
                .slide-image
                    .icon-block
                        i.icon.ion-university
                .slide-content
                    .text-quote
                        blockquote
                            | “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                    .author-quote
                        span.authot-quote-wrap
                            | Jon Doe