section.about-us
    .wrap-section
        .content
            .title-h1
                | We work with
            .title-h2.line-bottom
                | Amazing services
        .block-icons
            .block-icons__item
                .block-icons__item__icon-wrap
                    i.icon.ion-clock
                .block-icons__item__description
                    h4.title-block Web design
                    p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            .block-icons__item
                .block-icons__item__icon-wrap
                    i.icon.ion-aperture
                .block-icons__item__description
                    h4.title-block Web design
                    p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            .block-icons__item
                .block-icons__item__icon-wrap
                    i.icon.ion-toggle-filled
                .block-icons__item__description
                    h4.title-block Web design
                    p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            .gray-line
            .block-icons__item
                .block-icons__item__icon-wrap
                    i.icon.ion-wrench
                .block-icons__item__description
                    h4.title-block Web design
                    p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            .block-icons__item
                .block-icons__item__icon-wrap
                    i.icon.ion-document-text
                .block-icons__item__description
                    h4.title-block Web design
                    p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            .block-icons__item
                .block-icons__item__icon-wrap
                    i.icon.ion-arrow-graph-up-right
                .block-icons__item__description
                    h4.title-block Web design
                    p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do