section.about-us
    .wrap-section
        .content
            .title-h1
                | We work with
            .title-h2.line-bottom
                | Amazing services
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .column-block
            .cloumn-left
                .column-container
            .cloumn-right
                .column-container
                    .accordeon
                        .accordeon-list
                            .accordeon-item
                                a(href="#").accordeon-trigger
                                    i.icon.ion-home
                                    | Заголовок 1
                                .accordeon__inner
                                    p Содержимое 1
                            .accordeon-item
                                a(href="#").accordeon-trigger
                                    i.icon.ion-headphone
                                    | Заголовок 2
                                .accordeon__inner
                                    p Содержимое 2
                            .accordeon-item
                                a(href="#").accordeon-trigger
                                    i.icon.ion-disc
                                    | Заголовок 3
                                .accordeon__inner
                                    p Содержимое 3