section.about-us
    .wrap-section
        .content
            .title-h1
                | We work with
            .title-h2.line-bottom
                | Amazing services
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .columns-block__service
            .column-left
                .column-container
                    img(src="img/userfile/startup-photos.jpg" alt="StartUp")
            .column-right
                .column-container
                    .accordeon
                        .accordeon-list
                            .accordeon-item
                                a(href="#").accordeon-trigger
                                    i.icon.ion-home
                                    | Photography
                                .accordeon__inner
                                    | Lorem ipsum dolor sit ameconsecteturtscing adipiscing, consectetur adipiscing elit, sed Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            .accordeon-item
                                a(href="#").accordeon-trigger
                                    i.icon.ion-headphone
                                    | Заголовок 2
                                .accordeon__inner
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing adipiscing elit, sed Lorem ip
                            .accordeon-item
                                a(href="#").accordeon-trigger
                                    i.icon.ion-disc
                                    | Заголовок 3
                                .accordeon__inner
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed